$font: "Oswald", sans-serif;
$font-medium: "Raleway", sans-serif;
$accent: #232323;
$text: #333;
$border: #4D4D4D;

$img_shadow: rgba($accent, .6);

$global-large-gutter: 60px;

$hamburger-hover-opacity: 1;
$hamburger-layer-color: #fff;
$hamburger-layer-border-radius: 0;

$offcanvas-bar-background: #F1F1F1;

#c-bns button:first-child, #s-bns button:first-child{
  background-color: $accent!important;
}
