@import "../../scss/vars";


.sub_menu{
	ul{
		li{
			&.active_sub{
				a:after{
					width: 100%;
				}
			}
			&:not(:first-child){
				margin-left: 40px;
			}
			&:not(:last-child){
				margin-right: 40px;
			}
			a{
				color: $accent;
				font-size: 18px;
				position: relative;
				&:after{
					content: '';
					display: block;
					position: absolute;
					bottom: -3px;
					left: 0;
					width: 0;
					height: 1px;
					background-color: $accent;
					transition: all .5s ease;
				}
				&:hover{
					color: $accent;
					&:after{
						width: 100%;
					}
				}
			}
		}
	}
}
