@import "../../scss/vars";



.card_short{
	display: block;
	background-color: white;
	text-align: center;
	padding: 20px 0;
	opacity: 0;
	&:hover{
		color: $accent;
		text-decoration: none;
		.card_short_head:after{
			width: 100%
		}
		.cart_img img{
			transform: translateY(-50%) scale(3);
		}
	}
	.card_short_head{
		font-size: 18px;
		font-family: $font;
		font-weight: 300;
		color: $accent;
		display: inline-block;
		position: relative;
		&:after{
			content: '';
			position: absolute;
			left: 0;
			bottom: -8px;
			width: 0;
			height: 1px;
			background-color: black;
			display: block;
			transition: all .5s ease;
		}
	}
	.cart_img{
		padding-top: 80%;
		position: relative;
		overflow: hidden;
		img{
			position: absolute;
			top: 50%;
			left: 0;
			width: 100%;
			transform: translateY(-50%) scale(1);
			transform-origin: right;
			transition: all .5s ease;
		}
	}
}


.short_price{
	font-size: 18px;
	color: rgba($accent, .7);
}
