stages:
    - deploy


deploy:
    stage: deploy
    tags:
      - pellwood-app
    script:
        - echo "Deploying to server"
        - cp -rv ./ /var/www/pellwood/client/
        - cd /var/www/pellwood/client/ && sudo docker-compose down
        - cd /var/www/pellwood/client/ && sudo docker-compose build
        - cd /var/www/pellwood/client/ && sudo docker-compose up -d
        - echo "Deployed"
    environment:
        name: production
        url: https://pellwood.com
    only:
        - master
