stages:
    - build
    - deploy

build:
  stage: build
  tags:
    - pellwood-app
  script:
      - docker login -u simon1400 -p d04101996d
      - docker build -f ./Dockerfile --no-cache -t pellwood:master .
      - docker tag pellwood:master simon1400/pellwood:master
      - docker push simon1400/pellwood

deploy:
    stage: deploy
    tags:
      - pellwood-app
    script:
        - docker login -u simon1400 -p d04101996d
        - cd /var/www/pellwood/client/ && sudo docker-compose pull
        - cd /var/www/pellwood/client/ && sudo docker-compose down
        - cd /var/www/pellwood/client/ && sudo docker-compose up -d
        - echo "Deployed"
    environment:
        name: production
        url: https://pellwood.com
    only:
        - master
