stages:
    - build
    - deploy

build:
    stage: build
    tags:
      - pellwood-app
    script:
      - echo "Building deploy package"
      - npm install
      - CI= npm run build
      - echo "Build successful"
    artifacts:
      expire_in: 1 hour
      paths:
        - build
deploy_production:
    stage: deploy
    tags:
      - pellwood-app
    script:
        - echo "Deploying to server"
        - cp -rv ./* /var/www/pellwood/client/
        - rm -rf /var/www/pellwood/client/public
        - rm -rf /var/www/pellwood/client/src/app
        - rm -rf /var/www/pellwood/client/src/index.js
        - rm -rf /var/www/pellwood/client/yarn.lock
        - rm -rf /var/www/pellwood/client/crontab.txt
        - rm -rf /var/www/pellwood/client/gitlab-ci.yml
        - echo "Deployed"
    environment:
        name: production
        url: https://pellwood.com
    only:
        - master
