stages:
    - build
    - deploy

build:
    stage: build
    tags:
      - pellwood-app
    script:
      - echo "Building deploy package"
      - npm install
      - CI= npm run build
      - echo "Build successful"
    artifacts:
      expire_in: 1 hour
      paths:
        - build
deploy_production:
    stage: deploy
    tags:
      - pellwood-app
    script:
        - echo "Deploying to server"
        - sudo cp -rv build/* /var/www/pellwood/client/
        - echo "Deployed"
    environment:
        name: production
        url: https://pellwood.tk
    only:
        - master
