@import "../../scss/vars";

.category_short_name{
	font-size: 40px;
	font-family: $font;
	font-weight: 200;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: white;
	margin-bottom: 0!important;
	position: relative;
	&:after{
		content: '';
		position: absolute;
		left: -10px;
		bottom: -8px;
		width: 0;
		height: 1px;
		background-color: white;
		display: block;
		transition: all .5s ease;
	}
}


.big_category{
	padding-top: 100%;
	position: relative;
	display: block;
	&:hover{
		.blanded-mix{
			transform: scale(1.2);
		}
		.category_short_name{
			&:after{
				width: calc(100% + 20px);
			}
		}
	}
	&.big_grid{
		padding-top: 50%;
	}
	.category_wrap{
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		overflow: hidden;
	}
	.uk-inline{
		.overlay{
			width: 100%;
			height: 100%;
		}
	}
}

.blanded-mix{
	background-color: rgba($accent, .6);
	background-blend-mode: darken;
	transform: scale(1);
	transition: all 5s ease;
}
