.tm-total-end{
  padding-top: 100px;
  .tm-basket-item{
    margin-bottom: 50px;
  }
  .tm-basket-total{
    padding-top: 0;
    margin-bottom: 50px;
  }
  .tm-head-total{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #808080;
    padding-bottom: 20px;
    margin-bottom: 50px;
    h2{
      color: #989898;
      font-size: 18px;
      margin-bottom: 0!important;
    }
    a{
      font-size: 15px;
      color: #232323;
      text-transform: uppercase;
      position: relative;
      &:after{
	      content: '';
	      position: absolute;
				left: -10px;
				bottom: -8px;
	      display: block;
	      width: 0;
	      height: 1px;
	      background-color: #232323;
	      transition: all .5s ease;
	    }
      &:hover{
        text-decoration: none;
        &:after{
  	      width: calc(100% + 20px);
  	    }
      }
    }
  }
  .tm-basket-item-info{
    justify-content: flex-start;
    text-align: right;
    flex: 1;
  }
  .tm-basket-item-head{
    margin-bottom: 10px!important;
    font-size: 18px;
    color: #4D4D4D;
  }
}
