@import "fonts";
@import "libs";
@import "vars";

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

.uk-offcanvas-page{
	overflow-y: scroll!important;
}

i, em{
	color: rgba(35,35,35,.7);
}

#homepage{
	.homepage_slide {
		h1{
			padding-left: 15px;
			padding-right: 15px;
		}
		.tm-button.tm-contrast{
			opacity: 0;
		}
	}
}

.function-button-wrap{
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	.user-area .login{
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		align-items: center;;
	}
	.lang-nav, .lang-nav nav ul{
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
	}
	.lang-nav nav{
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		align-items: center;
	}
}

main{
	min-height: 100vh;
}

p{
	a{
		color: inherit;
		position: relative;
		display: inline-block;
		&:after{
			content: '';
			display: block;
			width: 100%;
			height: 1px;
			background-color: rgba(35, 35, 35, 0.7);
			position: absolute;
			bottom: 2px;
			left: 0;
		}
		&:hover{
			color: inherit;
			text-decoration: none;
			&:after{
				display: none;
			}
		}
	}
}

.copyright{
	position: absolute;
	bottom: 20px;
	right: 40px;
	width: 100%;
	text-align: right;
	span{
		color: white;
	  opacity: .3;
	  font-family: "Oswald", sans-serif;
	  font-weight: 300;
	  font-size: 15px;
	  // letter-spacing: 1px;
	  margin-bottom: 0;
		display: inline-block;
	}
	img{
		height: 18px;
		display: inline-block;
		width: auto;
		opacity: .3;
		margin-left: 10px;
		margin-top: -5px;
	}
}

.uk-offcanvas-container{
	overflow-y: hidden!important;
	position: fixed;
	top: 0;
	left: 0;
}

.not-found-page{
	text-align: center;
	padding-top: 200px;
	padding-bottom: 200px;
	a{
		padding-left: 50px;
		padding-right: 50px;
	}
}

.base-page{
	text-align: center;
	padding-top: 260px;
	padding-bottom: 260px;
	.tm-button{
		padding-left: 55px;
		padding-right: 55px;
		margin-top: 50px;
	}
}

.uk-alert-danger{
	p{
		color: red!important;
	}
}

.success{
	display: block;
	color: #7AC843;
	font-size: 18px;
	text-transform: uppercase;
	// letter-spacing: 1.8px;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	overflow-x: hidden;
	font-family: $font;
	font-weight: 300;
	color: $text;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: rgba(black, .3);
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

img{
	width: 100%;
	max-width: 100%;
}

b, strong {
	font-weight: bold;
}

nav.sub_menu ul li{
	a{
		&:hover{
			color: inherit;
		}
		&:after{
			background-color: #232323;
		}
	}
}



header{
	position: absolute;
	top: 30px;
	left: 40px;
	width: calc(100% - 80px);
	background-color: $accent;
	height: 90px;
	z-index: 1000;
	.logo-wrap{
		img{
			width: 200px;
			margin-top: -10px;
		}
	}
	.top-nav{
		width: 100%;
		text-align: center;
		li{
			&:not(:first-child){
				padding-left: 20px;
			}
			&:not(:last-child){
				padding-right: 20px;
			}
		}
	}
	.lang-nav{
		.menu_active a{
			color: white;
			&:after{
				display: none;
			}
		}
		li{
			&:not(:first-child){
				padding-left: 8px;
			}
			&:not(:last-child){
				padding-right: 8px;
			}
			a{
				text-transform: uppercase;
				color: rgba(white, .5);
				&:hover{
					&:after{
						display: none;
					}
				}
			}
		}
	}
	.user-area{
		margin-left: 15px;
		a:not(.basket_count){
			color: white;
			font-size: 17px;
			position: relative;
			&:after{
				content: '';
				position: absolute;
				left: 0;
				bottom: -8px;
				width: 0;
				height: 1px;
				background-color: white;
				display: block;
				transition: all .5s ease;
			}
			&:hover, &.menu_active{
				text-decoration: none;
				&:after{
					width: 100%;
				}
			}
		}
		.basket_count{
			display: inline-block;
			font-size: 18px;
			width: 40px;
			height: 40px;
			color: $accent;
			background-color: white;
			border-radius: 50%;
			line-height: 38px;
			text-align: center;
			margin-left: 15px;
			transition: all .5s ease;
			&:hover{
				text-decoration: none;
				background-color: darken(white, 20%);
			}
		}
	}
}

.menu_active{
	a:after{
		width: calc(100% + 20px);
	}
}

ul li.active-menu-top{
	a:not(.card_short):after{
		width: 100%;
	}
}

ul li a:not(.card_short){
	position: relative;
	&:after{
		content: '';
		position: absolute;
		left: 0;
		bottom: -8px;
		width: 0;
		height: 1px;
		background-color: white;
		display: block;
		transition: all .5s ease;
	}
	&:hover{
		text-decoration: none;
		color: white;
		&:after{
			width: 100%;
		}
	}
}

nav{
	display: inline-block;
	ul{
		padding: 0;
		margin: 0;
		li{
			display: inline-block;
			a{
				color: white;
				font-size: 17px;
				// letter-spacing: 0.13em;
			}
		}
	}
}

h1{
	font-size: 50px;
	font-family: $font;
	font-weight: 200;
	margin-bottom: 80px;
	&.contrast{
		color: white;
	}
}

h1, h2, h3, h4, h5, h6{
	// letter-spacing: 0.05em;
}

.section_head, h2{
	font-size: 40px;
	font-family: $font;
	font-weight: 200;
	text-align: center;
	margin-bottom: 100px!important;
}

.slider-card{
	h2{
		margin-bottom: 60px!important;
	}
}

p{
	font-family: $font-medium;
	font-size: 15px;
	// letter-spacing: 0.02em;
	color: rgba($accent, .7);
	line-height: 31px;
}

// a{
// 	letter-spacing: 0.13em;
// }

.form_column .tm-button{
	padding-left: 55px;
	padding-right: 55px;
}

.filter-controls-wrap{
	.tm-black-button{
		padding-left: 100px;
		padding-right: 100px;
		margin-right: 20px;
	}
	.tm-button-text{
		padding-left: 50px;
		padding-right: 50px;
	}
}

.tm-button{
  height: 54px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 54px;
  display: inline-block;
	border: none;
	cursor: pointer;
	transition: all .5s ease;
	// letter-spacing: 0.13em;
	font-weight: 300;
	&:focus{
		outline: none;
	}
  &:hover{
    text-decoration: none;
  }

  &.tm-bare-button{
    border: 1px solid #232323;
    color: #232323;
		background-color: transparent;
		padding-left: 55px;
		padding-right: 55px;
		&:hover{
			background-color: #232323!important;
			color: white;
		}
  }
	&.tm-button-text{
		margin-bottom: 0;
    background-color: transparent;
		border: none!important;
		span{
	    position: relative;
	    &:after{
	      content: '';
	      position: absolute;
				left: 0;
				bottom: -8px;
	      display: block;
	      width: 0;
	      height: 1px;
	      background-color: #232323;
	      transition: all .5s ease;
	    }
	  }
		&:hover{
			background-color: transparent!important;
			color: inherit;
			span:after{
	      width: 100%;
	    }
		}
	}
  &.tm-black-button{
    background-color: #232323;
    color: white;
    border: 1px solid #232323;
		&:hover{
			background-color: lighten($accent, 10%);
		}
  }
	&.tm-contrast{
		border-color: white;
		color: white;
		&:hover{
			background-color: #fff!important;
			color: $accent;
		}
	}
}
.show-all{
	li{
		display: list-item!important;
	}
}
.sub_menu ul li:not(:last-child){
	margin-right: 25px;
}

.sub_menu ul li:not(:first-child){
	margin-left: 25px;
}

.sub_menu_item.uk-active{
	a:not(.card_short):after{
		width: 100%;
	}
}

.sub_menu_responsive ul li{
	display: block;
	margin-left: 0!important;
	margin-right: 0!important;
	margin-top: 20px;
	margin-bottom: 20px;
}

.uk-slider-nav{
	margin-top: 50px!important;
}
.uk-dotnav>*>*{
	border: 1px solid darken(#f1f1f1, 20%);
	width: 15px;
	height: 15px;
	&:hover{
		background-color: darken(#f1f1f1, 20%);
	}
}

.description{
	min-height: 330px;
	text-align: center;
	p{
		text-align: center;
		display: inline-block;
		max-width: 1400px;
		margin-bottom: 0;
	}
}

.grey{
	background-color: #F1F1F1;
}

.section_base{
	padding-top: 100px;
	padding-bottom: 100px;
}

footer{
	background-color: $accent;
	padding: 90px 0;
	position: relative;
	.cart_method_foot{
		> div{
			&:not(:first-child){
				margin-left: 30px;
			}
			img{
				width: auto;
			}
		}
		img{
			height: 28px;
		}
	}
	.footer-item{
		.footer-item-head{
			color: white;
			opacity: .6;
			font-family: $font;
			font-weight: 300;
			font-size: 15px;
			// letter-spacing: 1px;
			margin-bottom: 0;
		}
		a{
			color: white;
			font-size: 15px;
			// letter-spacing: .02em;
			position: relative;
			&:after{
				content: '';
				position: absolute;
				left: 0;
				bottom: 0;
				width: 0;
				height: 1px;
				background-color: white;
				display: block;
				transition: all .5s ease;
			}
			&:hover{
				text-decoration: none;
				color: white;
				&:after{
					width: 100%;
				}
			}
		}
		ul{
			margin: 0;
			padding: 0;
			li{
				list-style-type: none;
				margin-bottom: 2px;
			}
		}
		p{
			margin: 0;
			margin-top: 3px;
			color: white;
			font-family: $font;
			font-weight: 300;
		}
	}
}

.head_1, h1{
	font-size: 50px;
	font-family: $font;
	font-weight: 200;
	// letter-spacing: 1px;
	margin-bottom: 40px;
}

// ---------------------------------------CATEGORY-----------------------------------

.content_head_wrap{
	max-width: 1400px;
	margin-left: auto;
	margin-right: auto;
}

.head_category{
	min-height: 235px;
	background-color: #fff;
	padding-top: 210px;
	margin-bottom: 50px;
	.content_head_wrap{
		text-align: center;
	}
	&.head_category_articles{
		text-align: right;
		min-height: 70px;
		.content_head_wrap{
			margin-bottom: 50px;
		}
	}
}


.category{
	padding-top: 50px;
	padding-bottom: 100px;
}

.category_menu{
	padding-bottom: 50px;
}

.error{
	border: 2px solid #EE474D!important;
	color: #EE474D!important;
	img{
		opacity: 1!important;
    filter: invert(.5) sepia(1) saturate(5) hue-rotate(-50deg);
	}
}

.custom-select{
	border: 1px solid rgba($border, .2);
	height: 55px;
	width: 285px;
	text-align: left;
	font-size: 16px;
	text-transform: uppercase;
	// letter-spacing: 1px;
	padding-left: 15px;
	padding-right: 20px;
	position: relative;
	overflow: hidden;
	&.uk-open{
		border-color: $accent;
		border-bottom: 2px solid #DFE0DF;
	}
	span:last-child{
		width: auto;
		position: absolute;
		right: 15px;
		top: 6px;
	}
	span:first-child{
		white-space: nowrap;
		display: block;
		overflow: hidden;
		width: calc(100% - 50px);
	}
	img{
		height: 30px;
		width: auto;
		margin-top: -3px;
		opacity: .2;
	}
}


.content_wrap, .article_img_wrap{
	padding-top: 210px;

}

#blog .full{
	&:not(:first-child){
		.content_wrap, .article_img_wrap{
			padding-top: 30px;
			position: relative;
			> div{
				position: sticky;
			}
		}
	}
}

.content_wrap{
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 100px;
	position: relative;
}



.article_img_wrap{
	position: relative;
	> div:first-child{
		position: sticky;
		top: 0;
		text-align: center;
		img{
			max-height: calc(100vh + 300px);
			width: auto;
		}

	}
	img:not(:last-child){
		margin-bottom: 50px;
	}

}

#full .article_img_wrap{
	> div:first-child img{
		width: 100%;
	}
}

.content{
	max-width: 500px;
	.head_1{
		text-align: center;
	}
	.description_product{
		margin-top: 50px;
	}
	p{
		color: rgba($accent, .7);
	}
}

.hamburger{
	margin-top: 5px;
	position: relative;
	z-index: 1100;
	&:active, &:focus{
		outline: none;
	}
}



.select_dropdown{
	margin-top: 0;
	width: 100%;
	ul{
		padding-left: 0;
		margin-bottom: 0;
		list-style-type: none;
		height: 0;
		overflow: hidden;
		transition: all .2s ease;
		height: calc(55px * 2 + 3px);
		li{
			border-left: 1px solid $accent;
			border-right: 1px solid $accent;
			border-bottom: 1px solid #D0D0D0;
			height: 55px;
			display: block;
			width: calc(100% - 2px);
			text-align: left;
			text-transform: uppercase;
			// letter-spacing: 1px;
			overflow: hidden;
			&:last-child{
				border-bottom: 1px solid $accent;
			}
			a{
				display: block;
				font-size: 14px;
				line-height: 55px;
				color: $text;
				transition: all .2s ease;
				background-color: #f1f1f1;
				padding-left: 15px;
				padding-right: 20px;
				float: right;
				width: calc(100% - 35px);
				white-space: nowrap;
				span{
					overflow: hidden;
				}
				&:hover{
					text-decoration: none;
					color: white;
					background-color: $accent;
				}
			}
		}
	}
}



@import "media"; // Always at the end
