@import '../_var.scss';

.uk-offcanvas{
  z-index: 111111!important;
}

.uk-offcanvas-bar{
  background: $offcanvas-bar-background!important;
  padding-top: 0!important;
  padding-bottom: 0!important;
}


.tm-canvas-close{
  position: absolute;
  right: 0;
  top: 0;

  &.uk-close{
    color: black;
    &:hover, &:active, &:focus{
      color: black;
    }
  }
  svg{
    width: 36px;
    height: 36px;
  }
}

.tm-canvas-head{
  vertical-align: middle;
  border-bottom: 1px solid #CECECE;
  padding-bottom: 50px;
  margin-top: 55px;
  position: relative;
  h2{
    text-align: left;
    margin: 0;
    margin-bottom: 0!important;
    font-size: 40px;
    letter-spacing: 2px;
    color: #232323;
    line-height: 40px;
    vertical-align: middle;
    margin-top: -5px;
  }
  > *{
    display: inline-block;
  }
  .tm-circle-count{
    height: 40px;
    width: 40px;
    background-color: #fff;
    text-align: center;
    border-radius: 50%;
    line-height: 40px;
    margin-right: 20px;
    vertical-align: middle;
  }
}

.tm-basket-img-wrap{
  width: 200px;
  height: 200px;
  background-color: white;
  margin-right: 20px;
}

.tm-canvas-basket-item-wrap{
  padding-bottom: 50px;

}
