$offcanvas-bar-background: #F1F1F1;
.basket{
  display: flex;
  justify-content: space-between;
  .basket-right-panel p{
    font-size: 13px;
    color: #989898;
    line-height : 31px;
    letter-spacing : 0.65px;
    margin: 0;
    a{
      color: #232323;
      letter-spacing : 0.65px;
    }
  }
  .tm-basket-content-wrap{
    flex: 1;
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    justify-content: flex-end;
  }
  .tm-basket-content{
    max-width: 900px;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }
  .tm-basket-item-info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    > *{
      width: 100%;
    }
    .tm-basket-item-head{
      margin-bottom: 5px;
    }
  }
  .tm-basket-item{
    margin-top: 0;
  }
}

.tm-positive{
  color: #7AC843!important;
}


.uk-table th, .uk-table td{
  padding-left: 0!important;
  padding-right: 0!important;
}

.uk-table th{
  padding-top: 0!important;
  font-weight: 200!important;
  letter-spacing: 0.05em;
  font-size: 18px;
  font-family: "Oswald", sans-serif;
  line-height: 1.3;
}

.basket-right-panel{
  width: 40%;
  background-color: #F1F1F1;
  padding-top: 120px;
  padding-bottom: 120px;
  p{
    margin-top: 30px;
  }
  .tm-basket-total{
    margin-top: 0;
    padding-top: 100px;
    margin-bottom: 50px;
  }
  .basket-right-content{
    max-width: 500px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.tm-basket-total{
  margin-top: 50px;
  table{
    margin-bottom: 0;
    thead{
      th{
        font-size: 18px;
      }
    }
    tbody{
      tr{
        border-top: 1px solid #CECECE!important;
        &:last-child{
          border-bottom: 1px solid #CECECE;
        }
        td{
          font-size: 15px;
          font-family: "Raleway", sans-serif;
          letter-spacing: 1px;
          color: #232323;
          &:last-child{
            text-align: right;
            font-family: "Oswald", sans-serif;
            font-size: 18px;
          }
        }
      }
    }
  }
}

.tm-basket-footer{
  display: flex;
  position:sticky;
  bottom:0;
  padding-top: 50px;
  padding-bottom: 50px;
  background: $offcanvas-bar-background!important;
  &.tm-footer-single{
    .tm-button{
      margin-right: 0!important;
      margin-left: 0!important;
    }
  }
  .tm-button{
    flex: 1;
    padding-left: 0!important;
    padding-right: 0!important;
    &:first-child{
      margin-right: 8px;
    }
    &:last-child{
      margin-left: 8px;
    }
  }
}


.total-end-footer{
  flex-wrap: wrap;
}


.tm-basket-item{
  display: flex;
  justify-content: flex-start;
  margin-top: 50px;
}

.tm-basket-item-info{
  flex: 1;
  .tm-basket-item-head{
    font-size: 20px;
    margin-top: 5px;
    font-family: "Oswald", sans-serif;
  }
  span{
    display: block;
    color: #4D4D4D;
    font-size: 18px;
    margin-bottom: 10px;
  }
  .tm-canvas-basket-item-count{
    display: flex;
    justify-content: space-between;
  }
}
