@import "../../scss/vars";

.variants_list{
	margin-bottom: 50px;
	font-size: 15px;
	color: rgba($accent, .7);
	.uk-width-expand{
		font-family: $font-medium;
	}
}

.custom-select-wrap{
	width: 100%;
	position: relative;
	button.uk-open{
		background-color: #fff;
	}
}

.tm-single-order{
	.tm-single-price{
		font-size: 20px;
	}
}


.order_block{
	margin-top: 50px;
	margin-bottom: 50px;
	.button{
		width: 100%;
		margin-top: 20px;
	}
	.uk-flex{
		>div:first-child{
			width: 68%;
		}
		>div:last-child{
			width: 28%;
		}
	}
	.custom-select{
		width: 100%;
		min-width: 100%;
	}
}

.button{
	.uk-spinner{
		margin-left: -10px;
		margin-right: 10px;
	}
}


// --------------------------------------- quantity ---------------------------------------

.quantity {
  position: relative;

	&.error{
		border: none!important;
		input{
			border: 1px solid #EE474D !important;
    	color: #EE474D !important;
		}
		.quantity-button.quantity-up{
			border-bottom: 1px solid #EE474D;
		}
		.quantity-button{
			border-left: 1px solid #EE474D;
			color: #EE474D !important;
		}
	}
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]
{
  -moz-appearance: textfield;
	font-family: "Oswald", sans-serif;
}

.quantity input {
  width: calc(100% - 17px);
  height: 53px;
  line-height: 1.65;
  float: left;
	font-size: 16px;
  display: block;
  padding: 0;
	padding-left: 15px;
  margin: 0;
  border: 1px solid rgba($border, .2);
	background-color: transparent;
}

.quantity input:focus {
  outline: 0;
}

.quantity-nav {
  float: left;
  position: relative;
  height: 53px;
}

.quantity-button {
  position: relative;
  cursor: pointer;
  border-left: 1px solid rgba($border, .2);
  width: 34px;
  text-align: center;
  color: #808080;
  font-size: 16px;
	font-weight: bold;
  font-family: "Trebuchet MS", Helvetica, sans-serif !important;
  line-height: 1.7;
  transform: translateX(-100%);
  user-select: none;
	z-index: 100;
}

.quantity-button.quantity-up {
  position: absolute;
  height: 50%;
  top: 0;
  border-bottom: 1px solid rgba($border, .2);
}

.quantity-button.quantity-down {
  position: absolute;
  bottom: -1px;
  height: 50%;
}


// ------------------------------------------------------------------------

.stiky_img_product{
	img{
		transform: rotate(90deg);
	}
}

.paramets{
	margin-top: 30px;
	table{
		border-bottom: 1px solid rgba($border, .2);
		border-top: 1px solid rgba($border, .2);
		td{
			font-size: 15px;
			letter-spacing: 1px;
			color: rgba($accent, .7);
			&:first-child{
				font-family: $font-medium;
			}
		}
	}
	.uk-table-divider>:first-child>tr:not(:first-child), .uk-table-divider>:not(:first-child)>tr, .uk-table-divider>tr:not(:first-child){
		border-top: 1px solid rgba($border, .2);
	}
	.uk-table-small td, .uk-table-small th{
		padding-left: 0;
		padding-right: 0;
	}
}


.select-variant.uk-dropdown{
	padding: 0;
	border: 1px solid #232323;
	border-top: none;
	ul{
		padding: 0;
		li{
			font-size: 14px;
			line-height: 55px;
			color: #333;
			background-color: #f1f1f1;
			cursor: pointer;
			padding: 0 15px;
			&:not(:last-child){
				border-bottom: 1px solid #d0d0d0;
			}
			&:hover{
				color: white;
				background-color: #232323;
			}
			span{

			}
		}
	}

}
