.form_container{
  display: flex;
  justify-content: space-between;
  .form_column{
    &:first-child{
      margin-right: 25px;
    }
    &:last-child{
      margin-left: 25px;
    }
  }
}

.textarea_item{
  textarea{
    width: 100%;
    border: 1px solid #CBCBCB;
    min-height: 90px;
    resize: none;
    font-size: 15px;
    font-family: "Oswald", sans-serif;
    color: #232323;
    padding: 10px 20px;
    letter-spacing: 1.5px;
  }
}


legend{
  margin-bottom: 30px;
  width: 100%;
  border-bottom: 1px solid black;
}

.form_column{
  max-width: 380px;
  width: 100%;
}



.select_item{
  .uk-form-custom{
    width: 100%;
  }
  button{
    border: 1px solid #CBCBCB;
    width: 100%;
    padding: 0 20px;
    text-align: left;
    font-family: "Oswald", sans-serif;
    font-size: 15px;
    letter-spacing: 1.5px;
    color: #232323;
    height: 47px;
    svg{
      height: 25px;
      position: absolute;
      right: 20px;
      top: 12px;
    }
  }
}

.input_item{
  position: relative;
  label{
    position: absolute;
    display: inline-block;
    background-color: #fff;
    line-height: 13px;
    font-size: 15px;
    padding-left: 8px;
    padding-right: 8px;
    top: 15px;
    left: 12px;
    font-family: "Oswald", sans-serif;
    color: #989898;
    transition: all .5s ease;
    letter-spacing: 1.5px;
    z-index: -1;
    cursor: text;
  }
  input{
    width: calc(100% - 40px);
    display: inline-block;
    border: 1px solid #CBCBCB!important;
    height: 45px;
    font-size: 15px;
    padding: 0 20px;
    color: #232323;
    font-family: "Oswald", sans-serif;
    transition: all .5s ease;
    letter-spacing: 1.5px;
    position: relative;
    background-color: transparent;
  }
  input.input_positive{
    border-color: #7AC843!important;
  }
  input.input_negative{
    border-color: #EC1C24!important;
    & + label{
      color: #EC1C24;
    }
  }
  input:focus{
    border-color: #232323!important;
  }
  input.hasValue + label, input:focus + label{
    top: -8px;
    font-size: 13px;
    background-color: #fff;
    z-index: 100;
  }
}

.checkbox_item{
  vertical-align: middle;
  label{
    cursor: pointer;
  }
  input{
    display: none;
    & + label{
      width: 15px;
      height: 15px;
      display: inline-block;
      border: 1px solid #ccc;
      vertical-align: middle;
      margin-top: -3px;
      margin-right: 10px;
      position: relative;
      &:after{
        content: '';
        display: block;
        opacity: 0;
        position: absolute;
        width: 13px;
        height: 13px;
        top: 1px;
        left: 1px;
        background-color: #4D4D4D;
        transition: all .2s ease;
      }
    }
    &:checked + label:after{
      opacity: 1;
    }
  }
}

.tm-payship .uk-grid{
  margin-top: 5px!important;
  label, .method-price{
    cursor: pointer;
    font-size: 15px;
    font-family: "Oswald", sans-serif;
    letter-spacing: 1.5px;
    color: #4D4D4D;
  }
}

.radio_item{

  input{
    display: none;
    & + label{
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
      margin-top: -2px;
      width: 15px;
      height: 15px;
      border: 1px solid #989898;
      border-radius: 50%;
      position: relative;
      &:after{
        content: '';
        display: block;
        position: absolute;
        opacity: 0;
        left: 1px;
        top: 1px;
        width: 13px;
        height: 13px;
        background-color: #4D4D4D;
        transition: all .2s ease;
        border-radius: 50%;
      }
    }
    &:checked + label:after{
      opacity: 1;
    }
  }
}
