@import "../../scss/vars";

.search_input{
	cursor: pointer;
	padding-left: 50px;
	height: 53px;
	border: 1px solid #ccc;
	position: relative;
	color: $accent;
	font-size: 18px;
	transition: 0.4s;
	border: none;
	background-color: transparent;
	z-index: 110;
	width: 100%;
}

.search_wrap{
	display: inline-block;
	margin-left: 50px;
	position: relative;
	height: 53px;
	width: 300px;
	border: 1px solid rgba(#232323, .2);
	background-color: #f1f1f1;
	padding-right: 30px;
	overflow: hidden;
	label{
		max-width: 100%;
		display: block;
	}
	input{
		max-width: 100%;
		width: calc(100% - 70px);
	}
	img{
		position: absolute;
		right: 20px;
		top: 12px;
		display: inline-block;
		width: auto;
		height: 30px;
		cursor: pointer;
	}
	svg{
		height: 20px;
		position: absolute;
		left: 15px;
		top: 16px;
		cursor: pointer;
	}
}

.input_animation{
	position: absolute;
	top: -1px;
	display: inline-block;
}
