@import "../../scss/vars";

.search_input{
	cursor: pointer;
	padding-left: 50px;
	height: 53px;
	border: 1px solid #ccc;
	position: relative;
	color: #989898;
	font-family: $font-medium;
	font-size: 18px;
	transition: 0.4s;
	border: none;
	background-color: transparent;
	z-index: 110;
	width: 100%;
}

.search_wrap{
	display: inline-block;
	position: relative;
	height: 53px;
	width: calc(100% - 30px);
	border: 1px solid rgba(#232323, .2);
	padding-right: 30px;
	overflow: hidden;
	margin-top: 30px;
	label{
		max-width: 100%;
		display: block;
	}
	input{
		max-width: 100%;
		width: calc(100% - 70px);
	}
	img{
		position: absolute;
		right: 20px;
		top: 12px;
		display: inline-block;
		width: auto;
		height: 30px;
		cursor: pointer;
	}
	svg{
		height: 20px;
		position: absolute;
		left: 15px;
		top: 16px;
		cursor: pointer;
	}
}

.input_animation{
	position: absolute;
	top: -1px;
	display: inline-block;
}

#modal-filter{
	.tm-canvas-head{
		margin-top: 0;
		padding-bottom: 20px;
	}
	.tm-button{
		margin-top: 30px;
	}
	.uk-modal-dialog{
		width: 500px;
		padding: 50px;
		background-color: #f1f1f1;
	}
}

.category{
	.card_short{
		opacity: 1;
	}
}

.cancel-filtered{
	svg, img{
		width: 20px;
		margin-top: -3px;
		margin-right: 10px;
	}
}

.range-wrap{
	margin-bottom: 30px;
	margin-top: 30px;

	.input-range__slider{
		margin-top: -18px;
		width: 25px;
		height: 25px;
		background: #4D4D4D;
		border: none;
	}
	.input-range__track{
		height: 10px;
	}
	.input-range__track--background{
		height: 10px;
		border: 1px solid #BFBFBF;
		border-radius: 0;
	}
	.input-range__track--active{
		background-color: #C7C7C7;
	}
	.range-info{
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		justify-content: space-between;
		font-size: 18px;
		font-weight: normal;
		.name-range{
			font-family: $font-medium;
			color: #989898
		}
		.value-range{
			// font-weight: bold;
		}
	}
}
