.last_order_wrap{
  table{
    tr{
      th{
        font-size: 18px;
        letter-spacing : 1.8px;
        color : #989898;
      }
      td{
        font-size: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
        letter-spacing : 2px;
        color : #232323;
      }
    }
  }
}

button{
  cursor: pointer;
}
