.custom-range-slider {
  position: relative;
  width: 100%;
  height: 25px;
  user-select: none;
  overflow: visible;

  &__track-container {
    position: relative;
    width: 100%;
    height: 25px;
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 1;
    overflow: visible;
  }

  &__track-background {
    position: absolute;
    width: 100%;
    height: 10px;
    background: #fff;
    border-radius: 5px;
  }

  &__track-active {
    position: absolute;
    height: 10px;
    background-color: #C7C7C7;
    pointer-events: none;
    border-radius: 5px;
  }

  &__slider {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #4D4D4D;
    border-radius: 50%;
    top: 0;
    transform: translateX(-50%);
    cursor: grab;
    z-index: 10;
    user-select: none;
    touch-action: none;
    pointer-events: auto;

    &:active {
      cursor: grabbing;
    }
  }
}
